:root {
    --font-family: 'Lora', serif;

    --container-width: 725px;
    --header-title: 3rem;
    --word-title: 3.5rem;

    --container-margin: 2rem auto;

    --bg-color: white;
    --fg-color: black;
    --fg-secondary-color: #757575;
    --accent-color: hsl(274deg, 82%, 60%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--fg-color);
    -webkit-tap-highlight-color: transparent;
}

body.dark-theme {
    --bg-color: #0e0e0e;
    --fg-color: #f3f3f3;
    --fg-secondary-color: #757575;
    --accent-color: #ca85ff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--fg-color);
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

a, .search-btn,
.transcription__audio-btn {
    transition: all 0.3s ease-in;
}

/****** HEADER ******/

.header {
    max-width: var(--container-width);
    margin: var(--container-margin);
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.header-title {
    font-size: var(--header-title);
    font-weight: normal;
}

.theme-btn {
    font-size: 1.5rem;
}

.theme-icon {
    transition: all 0.3s ease-in;
}

.theme-icon.ri-sun-line {
    color: var(--fg-color);
}

.header-title a:hover, .theme-icon:hover {
    color: var(--accent-color);
    opacity: 0.7;
}

.search {
    display: flex;
    justify-content: space-between;
    margin: var(--container-margin);
}

#search-input {
    width: 75%;
    font-size: 1.15rem;
    border: none;
    border-bottom: 2px solid var(--fg-color);
    background-color: var(--bg-color);
    color: var(--fg-color);
    padding: 0.75rem 0.2rem;
}

#search-input:focus {
    outline: none;
}

#empty-input {
    color: #e63946;
}

.search-btn {
    width: 20%;
    font-size: 1.25rem;
    padding: 0.75rem 0;
    border-radius: 0.5rem;
    background-color: var(--fg-color);
    color: var(--bg-color);
}

.search-btn:hover {
    opacity: 0.8;
}

/****** MAIN ******/

.main {
    max-width: var(--container-width);
    margin: var(--container-margin);
}

.word__title {
    font-size: var(--word-title);
    margin-top: 3rem;
}

.transcription {
    font-size: 1.25rem;
    color: var(--accent-color);
    margin-top: 0.5rem;
}

.transcription__dialect {
    font-size: 1rem;
    font-weight: bold;
    color: var(--fg-color);
    padding-left: 1rem;
}

.transcription__dialect:first-child {
    padding-left: 0;
}

.transcription__audio-btn {
    font-size: 1.2rem;
    padding: 0 1rem 0 0;
    color: var(--fg-color);
    cursor: pointer;
}

.transcription__audio-btn:hover {
    color: var(--accent-color);
}

.word-meaning {
    margin: 3rem 0;
}

.word-example {
    font-style: italic;
    border-left: 5px solid var(--accent-color);
    padding-left: 1rem;
    margin: 3rem 0;
}

.definition__part-of-speech {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    margin-top: 2rem;
    font-style: italic;
}

.definition__part-of-speech::after {
    content: "";
    align-self: center;
    background-color: var(--fg-color);
    height: 1px;
}

.definition__part-of-speech, 
.definition__meaning-label {
    margin-top: 2.5rem;
}

.definition__meaning-label {
    font-size: 1.25rem;
    font-weight: normal;
}

.definition__meaning-list {
    padding-left: 1rem;
    margin-top: 1rem;
}

.definition__meaning-list > li {
    position: relative;
}

.definition__meaning-list > li:before {
    position: absolute;
    display: inline-block;
    content: "\2022";
    color: var(--accent-color);
    font-weight: 700;
    width: 1em;
    top: 0.15rem;
    left: -1rem;
}

.definition__meaning-list li + li {
    margin-top: 1rem;
}

.definition__text {
    font-size: 1.125rem;
    line-height: 1.3333;
}

.definition__synonym-label,
.definition__antonym-label {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: normal;
    margin-top: 2rem;
    margin-right: 1rem;
    color: var(--fg-secondary-color);
}

.definition__synonym-list,
.definition__antonym-list {
    display: inline-block;
    padding-left: 0;
    padding-top: 1rem;
    line-height: 1.4;
}

.definition__synonym,
.definition__antonym {
    display: inline;
    font-size: 1.15rem;
}

.definition__synonym a,
.definition__antonym a {
    color: var(--accent-color);
}

.definition__synonym a:hover,
.definition__antonym a:hover {
    opacity: 0.5;
}

.definition__synonym:last-child::after,
.definition__antonym:last-child::after {
    content: "";
}

.definition__synonym::after,
.definition__antonym::after {
    content: ", ";
}

.definition__example {
    font-size: 1.125rem;
    line-height: 1.3333;
    color: var(--fg-secondary-color);
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    .header, .main {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 480px) {
    :root {
        --container-margin: 1rem auto 2rem auto;
        --word-title: 2.5rem;
    }
    .header, .main {
        padding: 0 1.5rem;
    }
    .header-title__text {
        display: none;
    }

    #search-input {
        width: 60%;
    }

    .search-btn {
        width: 30%;
    }
}